:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body{
  display: flex;
  align-items: start;
  background: #dedede;
  color:#333;
  justify-content: center;
  min-height: 100vh;
}
h4{
  margin-bottom: 0;
  color:rgb(56, green, blue)
}
h1{
  color:#001f3f;
}
.container {
  margin: 0;
  min-width: 80%;
}
.canvasjs-chart-canvas{
  width: 455px !important;;
}
.graph{
  padding: 50px 10px;
  box-shadow: var(--box-shadow);
}
.my-form{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.my-form label{
  color:#333;
  margin: 5px 10px 5px;
  font-weight: bold;  
}
input[type="number"]{
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  width: 20%;
}
.basic-single
{
  margin: 5px 10px 5px 0;
  padding: 10px;
  width:20%
  
}
.info{
  font-style: italic;
}
.btn{
  cursor: pointer;
  border:0;
  margin-top: 3%;
  height: 45px;
  width: 15%;
  color:#fff;

  background-color: cornflowerblue ;
}