body{
  display: flex;
  align-items: start;
  background: #dedede;
  color:#333;
  justify-content: center;
  min-height: 100vh;
}
h4{
  margin-bottom: 0;
  color:rgb(56, green, blue)
}
.container {
  margin: 0;
  min-width: 80%;
}
.canvasjs-chart-canvas{
  width: 455px !important;;
}
.my-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

label{
  color:#333;
  /* padding: 15px 0; */
  
}
input[type="number"]{
  width :100%;
  padding :10px 10px;
  margin:15px 0;
  font-size: 14px;
  border: 0;
}
.basic-single
{
  margin:10px 0;
  width: 300%;
  
}
.info{
  font-style: italic;
}
.btn{
  cursor: pointer;
  border:0;
  margin-top: 3%;
  height: 45px;
  width: 15%;
  color:#fff;

  background-color: cornflowerblue ;
}